
<div class="container animated slideInLeft">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="card col-md-8">
        <div class="card-body">
          <!-- Material form register -->
          <form #formData='ngForm' (ngSubmit)="addGame(gForm.value)">
            <p class="h4 text-center py-4">Add Game</p>
            <span class="animated slideInDown" *ngIf="error">{{ error }}</span>
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                  <p>Players</p>
                  <div *ngFor="let player of players | async; let i = index;">
                    <label>
                      <input type= "checkbox" value="{{ player.UserName }}" (change)="onCheckChange($event)" [disabled]="this.temp >= 4 && isChecked(player.UserName)">{{ player.UserName }}
                    </label>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                  <p class="mt-4">Winner</p>
                  <select name="winner-select" [(ngModel)]="winner"  required>
                    <option value='' disabled>Choose player</option>
                    <option *ngFor="let player of players | async" placeholder="winner" [disabled]="isChecked(player.UserName)" [value]="player | json">{{ player.UserName }}</option>
                  </select>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>

            <div class="text-center py-4 mt-3">
              <button class="btn btn-blue waves-light" type="submit" [disabled]="this.temp < 2 || this.winner == undefined" mdbWavesEffect>Add Game</button>
            </div>
            <div class="text-center mb-3">
                <a (click)="goBack()" id="goback">Go back</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>