
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar ie-nav" [containerInside]="false">
    <logo><a class="navbar-brand" href="/members">Board Game Tracker</a></logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
          </li>
      </ul>
  </links>
</mdb-navbar>

<main *ngIf="currentPlayer | async; let currentPlayer; else nocontent">
  <div class="container animated slideInLeft">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-4 mt-4">
          <div class="card">
            <img src="{{ photoUrl }}" class="img-thumbnail"/><strong class="text-center">  Hey {{ currentPlayer.UserName }}!</strong> 
          </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <button type="button" class="btn btn-pink btn-lg btn-block waves-light mb-4 mt-4" routerLink="/room-form" mdbWavesEffect>Create Room</button>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="card col-md-12" *ngFor="let room of rooms | async as rooms">
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">{{ room.data.roomName }}</h4>
          <span>Players: {{ room.data.playerCount }}</span><br>
          <span>Game: {{ room.data.gameType }}</span>
          <hr>
          <!--Text-->
          <a *ngIf="!room.data.isLocked; else lockedRoom" class="btn btn-primary waves-light" (click)="goToRoom(room.id)" mdbWavesEffect>Join!</a>
          <ng-template #lockedRoom >
            <a class="btn btn-primary waves-light" (click)="goToLockedRoom(room.id)" mdbWavesEffect>Join! (locked)</a>
          </ng-template>
          <a *ngIf="room.data.admin == currentPlayer.acctId;" class="btn btn-danger waves-light" (click)="deleteRoom(room.id)" mdbWavesEffect>Delete Room</a>
        </div>
      </div>
    </div>
  </div>
</main>
<ng-template #nocontent>
  <div class="container animated slideInLeft">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="card col-md-8">
        <h2>Hey {{ name }}!</h2>
        <h3>Looks like you haven't made a username yet! click <a routerLink="/registration" routerLinkActive="active" class="alc">here</a>.</h3>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</ng-template>